:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: #2196f3;
  --accent-white-color: #ffffff;
}
body {
  background-color: var(--accent-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/* Шапка */

.main-nav {
  display: flex;
  align-items: center;
}

.header {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-color {
  color: var(--accent-text-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts .item:not(:last-child) {
  margin-right: 50px;
}
.site-contacts .link {
  color: var(--text-color);
}
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: 1600px;
  background-color: #2f303a;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  color: var(--accent-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-transform: uppercase;
}

/* Особености */
.features-list {
  display: flex;
}
.features-list .item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}
.feature-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}
/* чем мы занимаемся */

.prof-list {
  display: flex;
}
.prof-list .item:not(:last-child) {
  margin-right: 30px;
}

.prof-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Команда */
.team-list {
  display: flex;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-list .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}
.team-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-img {
  margin-top: 0;
}
.team-card {
  padding-bottom: 30px;
  padding-top: 30px;
}
/* Подвал */
.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-logo {
  display: inline-block;

  margin-bottom: 20px;
  color: var(--accent-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
}
.address {
  margin-bottom: 9px;
  color: var(--accent-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-text-color);
}
/* Кнопки */
.button {
  background-color: var(--accent-text-color);
  color: var(--accent-white-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}
.button.primary {
  background-color: var(--accent-text-color);
  color: var(--accent-white-color);
}
.button.secondary {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}
.button.secondary:hover {
  background-color: var(--accent-text-color);
  color: #ffffff;
}
.button.secondary:focus {
  background-color: var(--accent-text-color);
  color: #ffffff;
}
.button.hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  align-items: center;
  text-align: center;
  margin: auto;
  letter-spacing: 0.06em;
  border: 0;
}
.button.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  min-width: 73px;
}
.b-item:not(:last-child) {
  margin-right: 8px;
}
.b-item {
  display: inline-block;
}
/* Портфолио */
.filter-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  list-style: none;
}

.portfolio-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.portfolio-technolology {
  color: var(--text-color);
}
.portfolio-name {
  margin-top: 0;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-technolology {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
.filter-list {
  margin-bottom: 50px;
}
.portfolio-list {
  padding-left: 0;
  margin-top: 0;

  margin-top: -30px;
  margin-left: -30px;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);

  margin-top: 30px;
  margin-left: 30px;

  background: #ffffff;
}
.portfolio-link {
  text-decoration: none;
}
.card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* Основоной цвет текста  #212121*/
/* Вторичный цвет текста #757575 */
/* акцент  #2196F3 */
/* белый #FFFFFF */
/* цвет в футуре rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #F5F4FA */ ;
